@using WebNovels.Models
@using Microsoft.AspNetCore.Authorization
@using WebNovels.Services
@inject INovelService NovelService
@attribute [Authorize]
@rendermode InteractiveServer

<div class="genre-selector">
    @if (Genres == null)
    {
        <p>Loading genres...</p>
    }
    else
    {
        @foreach (var genre in Genres)
        {
            <div>
                <input type="checkbox"
                       id="genre_@genre.Id"
                       @onchange="@(() => ToggleGenre(genre.Id))"
                       checked="@SelectedGenreIds.Contains(genre.Id)" />
                <label for="genre_@genre.Id">@genre.Name</label>
            </div>
        }
    }
</div>

@code {
    private List<Genre>? Genres;

    [Parameter]
    public List<int> SelectedGenreIds { get; set; } = new();

    [Parameter]
    public EventCallback<List<int>> SelectedGenreIdsChanged { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Genres = await NovelService.GetAllGenresAsync();
    }

    private async Task ToggleGenre(int genreId)
    {
        if (SelectedGenreIds.Contains(genreId))
            SelectedGenreIds.Remove(genreId);
        else
            SelectedGenreIds.Add(genreId);

        await SelectedGenreIdsChanged.InvokeAsync(SelectedGenreIds);
    }
}
